
@{
    ViewData["Title"] = "";
}

<div style="display: flex;justify-content: center; align-items: center;height: 60vh; color:red">

    <h1 class="display-4">Tài Khoản của bạn đã bị chặn</h1>

</div>